.card__delete {
    position: absolute;
    position: absolute;
    top: 18px;
    right: 15px;
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.card__delete:hover {
    opacity: .6;
    transition: ease-in-out .5s;
}