@import url("./__counter/like__counter.css");
@import url("./__container/like__container.css");


.like {
    /*margin: 30px 7.8%;*/
    margin: 30px 21px 0 3px;
    border: none;
    background: none;
    width: 20px;
    height: 18px;
    cursor: pointer;
    padding: 0;
    outline: none;
}

.like:hover {
    opacity: .6;
    transition: ease-in-out .5s;
}