.register__button {
    width: 100%;
    height: 50px;
    background: #FFFFFF;
    margin: 216px 0 0;
    cursor: pointer;
    border-radius: 2px;
    border: none;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
}

.register__button:hover {
    opacity: .6;
    transition: ease-in-out .5s;
}