.profile__avatar {
    display: flex;
    border-radius: 120px;
    height: 120px;
    width: 120px;
    outline: none;
    position: absolute;
}

@media screen and (max-width: 850px) {
.profile__avatar {
    margin: 0 0 14px;
    }
}