@import url("./vendor/normalize.css");
@import url("./vendor/fonts/inter.css");
@import url("./blocks/page/page.css");
@import url("./blocks/header/header.css");
@import url("./blocks/profile/profile.css");
@import url("./blocks/cards/cards.css");
@import url("./blocks/card/card.css");
@import url("./blocks/popup/popup.css");
@import url("./blocks/popup/_opened/popup_opened.css");
@import url("./blocks/popup/__input/_type/_error/popup__input_type_error.css");
@import url("./blocks/popup/__save/_disabled/popup__save_disabled.css");
@import url("./blocks/popup/__error/_visible/popup__error_visible.css");
@import url("./blocks/like/like.css");
@import url("./blocks/like/_active/like_active.css");
@import url("./blocks/popup/_img/popup_img.css");
@import url("./blocks/register/register.css");




/*body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}*/

